# Node.js dependencies
MyRemoteDeskDesktopApp/node_modules/
MyRemoteDeskVideoApp/node_modules/

# Node.js lock files (optional to ignore)
MyRemoteDeskDesktopApp/package-lock.json
MyRemoteDeskVideoApp/package-lock.json

# Python virtual environment
venv/

# Django __pycache__, migrations, DB
MyRemoteDeskWebApp/**/__pycache__/
MyRemoteDeskWebApp/**/migrations/
MyRemoteDeskWebApp/**/*.py[cod]
MyRemoteDeskWebApp/**/db.sqlite3
*.sqlite3

# General
.env
.vscode/
*.log

# OS-specific
.DS_Store
Thumbs.db
