# Global
.env
.vscode/
*.log

# Node.js (for both Electron and Video app)
**/node_modules/
**/package-lock.json

# Electron.js (Desktop App)
MyRemoteDeskDesktopApp/dist/
MyRemoteDeskDesktopApp/build/

# Django (Web App)
**/__pycache__/
**/*.py[cod]
**/db.sqlite3
**/*.sqlite3
**/migrations/__pycache__/

# Python virtual environment
venv/

# OS-specific
.DS_Store
Thumbs.db
